node-red/flows.json
[
    {
        "id": "fecacf27.dc262",
        "type": "tab",
      "label": "Temperature",
      "disabled": false,
      "info": ""
    },
  {
    "id": "687877f4.0d1578",
    "type": "tab",
    "label": "Bowl",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6778f509.69879c",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost:1883",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
  {
    "id": "de6f5fa4.d6bae",
    "type": "mqtt-broker",
    "z": "",
    "name": "MQTT Broquer",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
    },
    {
        "id": "11292d98.701a82",
        "type": "inject",
        "z": "fecacf27.dc262",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 402,
        "y": 541,
        "wires": [
            [
                "756e7e50.59fe2"
            ]
        ]
    },
    {
        "id": "76dca8a1.f5a828",
        "type": "mosca in",
        "z": "fecacf27.dc262",
        "mqtt_port": 1883,
        "mqtt_ws_port": 8080,
        "name": "",
        "username": "",
        "password": "",
        "dburl": "",
        "x": 612,
        "y": 381,
        "wires": [
            []
        ]
    },
    {
        "id": "6aadca24.d3a654",
        "type": "http in",
        "z": "fecacf27.dc262",
        "name": "Temperature http",
        "url": "/temperature/set",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 382,
        "y": 481,
        "wires": [
            [
                "1643a10.20b925f"
            ]
        ]
    },
    {
        "id": "1643a10.20b925f",
        "type": "function",
        "z": "fecacf27.dc262",
        "name": "Temperature set",
        "func": "flow.set('temp',msg.payload.value);\nmsg.payload = \"ok\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 652,
        "y": 481,
        "wires": [
            [
                "357224c2.927b9c"
            ]
        ]
    },
    {
        "id": "756e7e50.59fe2",
        "type": "function",
        "z": "fecacf27.dc262",
        "name": "Print Temp",
        "func": "msg.payload = flow.get('temp')\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 652,
        "y": 541,
        "wires": [
            [
                "b1f3977d.d46c18"
            ]
        ]
    },
    {
        "id": "b1f3977d.d46c18",
        "type": "debug",
        "z": "fecacf27.dc262",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 882,
        "y": 541,
        "wires": []
    },
    {
        "id": "6edada65.b560a4",
        "type": "http response",
        "z": "fecacf27.dc262",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 942,
        "y": 441,
        "wires": []
    },
    {
        "id": "abefb9f5.5a4838",
        "type": "function",
        "z": "fecacf27.dc262",
        "name": "check temp",
        "func": "var date = flow.get(\"date\") || 0;\nconsole.log(msg.payload);\ntemps = Date.now() - date;\nif(parseInt(msg.payload) < 293 && temps>60000){\n    console.log(\"pass heraz\");\n    flow.set(\"date\",Date.now());\n\n    msg.payload = \"{value:\"+msg.payload+\"}\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 532,
        "y": 621,
        "wires": [
            [
                "b64c2736.545de8"
            ]
        ]
    },
    {
        "id": "8253fe90.32e62",
        "type": "mqtt in",
        "z": "fecacf27.dc262",
        "name": "thermo E",
        "topic": "/home/general/Memory/float/Température_Zone_E_[K]",
        "qos": "2",
        "broker": "6778f509.69879c",
        "x": 382,
        "y": 621,
        "wires": [
            [
                "abefb9f5.5a4838"
            ]
        ]
    },
    {
        "id": "1607fd7d.e0c9a3",
        "type": "link in",
        "z": "fecacf27.dc262",
        "name": "",
        "links": [
            "69cf9074.8679b"
        ],
        "x": 757,
        "y": 441,
        "wires": [
            [
                "6edada65.b560a4"
            ]
        ]
    },
    {
        "id": "357224c2.927b9c",
        "type": "link out",
        "z": "fecacf27.dc262",
        "name": "",
        "links": [],
        "x": 862,
        "y": 481,
        "wires": []
    },
    {
        "id": "b64c2736.545de8",
        "type": "http request",
        "z": "fecacf27.dc262",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "https://galles.io/pns/shb/api/Domotic-items/thermometer/declare",
        "tls": "",
        "x": 692,
        "y": 621,
        "wires": [
            [
                "92dc6e1f.de3bf"
            ]
        ]
    },
    {
        "id": "92dc6e1f.de3bf",
        "type": "debug",
        "z": "fecacf27.dc262",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 852,
        "y": 621,
        "wires": []
    },
    {
        "id": "e489d7ef.82f648",
        "type": "mqtt out",
        "z": "fecacf27.dc262",
        "name": "radiateur E",
        "topic": "/home/E/Output/bool/Radiateur",
        "qos": "",
        "retain": "",
        "broker": "6778f509.69879c",
        "x": 652,
        "y": 721,
        "wires": []
    },
    {
        "id": "69cf9074.8679b",
        "type": "link out",
        "z": "fecacf27.dc262",
        "name": "",
        "links": [
            "1607fd7d.e0c9a3"
        ],
        "x": 617,
        "y": 781,
        "wires": []
    },
    {
        "id": "2f6d9b85.587064",
        "type": "http in",
        "z": "fecacf27.dc262",
        "name": "Turn Heater",
        "url": "/TurnHeater/",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 382,
        "y": 721,
        "wires": [
            [
                "e489d7ef.82f648",
                "69cf9074.8679b",
                "c72092d4.df691"
            ]
        ]
    },
    {
        "id": "c72092d4.df691",
        "type": "debug",
        "z": "fecacf27.dc262",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 654,
        "y": 677,
        "wires": []
    },
  {
    "id": "37f6bd32.94e182",
    "type": "mqtt in",
    "z": "687877f4.0d1578",
    "name": "Arduino",
    "topic": "v1/devices/me/telemetry",
    "qos": "2",
    "broker": "de6f5fa4.d6bae",
    "x": 150,
    "y": 280,
    "wires": [
      [
        "ab6115fe.7df6f8",
        "efdfc21f.75f2"
      ]
    ]
  },
  {
    "id": "352c53ac.fdd60c",
    "type": "http request",
    "z": "687877f4.0d1578",
    "name": "signal Empty Bowl",
    "method": "POST",
    "ret": "txt",
    "url": "http://localhost:5491/api/Domotic-items/bowl/empty",
    "tls": "",
    "x": 610,
    "y": 280,
    "wires": [
      [
        "e713bfcc.fb5ec"
      ]
    ]
  },
  {
    "id": "e713bfcc.fb5ec",
    "type": "debug",
    "z": "687877f4.0d1578",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 790,
    "y": 280,
    "wires": []
  },
  {
    "id": "ab6115fe.7df6f8",
    "type": "function",
    "z": "687877f4.0d1578",
    "name": "Filter True",
    "func": "let json =JSON.parse(msg.payload);\nif(json.state===1)return msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 280,
    "y": 280,
    "wires": [
      [
        "936a8be9.33c208"
      ]
    ]
  },
  {
    "id": "936a8be9.33c208",
    "type": "delay",
    "z": "687877f4.0d1578",
    "name": "Rate Filter",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "5",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 430,
    "y": 280,
    "wires": [
      [
        "352c53ac.fdd60c"
      ]
    ]
  },
  {
    "id": "efdfc21f.75f2",
    "type": "debug",
    "z": "687877f4.0d1578",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 270,
    "y": 200,
    "wires": []
    }
]